.navbar {
    padding: 0.5rem 1rem;
}
body{
    
}
.container-fluid{
    height: 7vh;
    margin: 0 4rem;
}
.nav-link {
    padding: 0.5rem 1rem !important;
    color: #333 !important;
}
.navbar-brand{
    margin-left: 4rem;
}
.nav-link:hover {
    color: #00aa00 !important;
}
.navbar-nav.ms-auto {
    gap: -1rem;
}
@media (max-width: 991px) {
    .navbar-nav {
        padding: 1rem 0;
    }
    .container-fluid{
        margin-bottom: 1.5rem;
    }
}